body{
    background-color: #dc2606;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

img{
    width:500px;
    border-radius:10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

img:hover{
    transform: rotate3d(1, 1, 1, 25deg);
    box-shadow:0 20px 40px rgba(0,0,0,0.3);
}