body{
            background-color: rgb(180, 70, 109);
        }

        p {
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
            line-height: 1.5;
            text-align: justify;
        }

        h1  {
            font-family: 'Arial Black', Arial, sans-serif;
            font-size: 36px;
            text-align: center;
            color: rgb(255, 0, 212);
        }  

        h1:hover {
            color: aqua;
        }

        a  {
        font-family: 'Arial Black', Arial, sans-serif;
        font-size: 36px;
        text-align: center;
        color: aqua;
        }  

        a:hover {
            color: rgb(255, 0, 212);
        }