    body{
        background-color: #a2b5fd;
        font-size: 16px;
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;}
    h2{
        font-size: 32px;    
        font-style: italic;
        font-weight: bold;}
    p{
        font-size: 18px;
        font-family: "Arial", sans-serif;
        font-weight: normal;
    }