        body{
            font-family: Arial, sans-serif;
            background: rgb(197, 180, 255);
        }
        .muted {
            color:black;
            background-color: black;
        }