body {
    font-family: "TextoFont", Georgia, "Times New Roman", serif;
    color: #ffffff;
    line-height: 1.6;
    margin: 40px;
    background-color: rgb(32, 72, 58);
    width: 80rem;
    height: 10rem;
    border: 3px solid #000;
    float: left;
}