body {
    font-family: "TextoFont", Georgia, "Times New Roman", serif;
    color: black;
    line-height: 1.6;
    margin: 40px;
    background-color: rgb(190, 244, 226);
    border: 3px solid #000;
    float: left;
}

.resaltado{
    background-color: rgb(247, 249, 96); 
    color: #000;
}