    .bg-grid {
      position: fixed;
      inset: 0;
      z-index: -1;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    .bg-grid div:nth-child(1) { background:#fbb4cd; }
    .bg-grid div:nth-child(2) { background:#c8fbb4; }
    .bg-grid div:nth-child(3) { background:#fbb4cd; }
    .bg-grid div:nth-child(4) { background:#c8fbb4; }
    .bg-grid div:nth-child(5) { background:#c8fbb4; }
    .bg-grid div:nth-child(6) { background:#fbb4cd; }
    .bg-grid div:nth-child(7) { background:#c8fbb4; }
    .bg-grid div:nth-child(8) { background:#fbb4cd; }
    .bg-grid div:nth-child(9) { background:#fbb4cd; }
    .bg-grid div:nth-child(10) { background:#c8fbb4;}
    .bg-grid div:nth-child(11) { background:#fbb4cd; }
    .bg-grid div:nth-child(12) { background:#c8fbb4; }
    .bg-grid div:nth-child(13) { background:#c8fbb4; }
    .bg-grid div:nth-child(14) { background:#fbb4cd;  }
    .bg-grid div:nth-child(15) { background:#c8fbb4; }
    .bg-grid div:nth-child(16) { background:#fbb4cd;  }

h1{
        max-width: 400px;
        margin: auto;
        background: rgb(227, 172, 211);
        padding: 20px;
        border-radius: 12px;
        border: 2px solid black;
        margin-bottom: 18px;
}

h2{
        max-width: 200px;
        text-justify:distribute;
        margin: auto;
        background: rgb(216, 214, 214);
        padding: 20px;
        border-radius: 12px;
        border-style: dashed black;
        margin-top: 18px;
        margin-bottom: 18px;
}

u1{
        width: 200px;
        margin: auto;
        background: rgb(255, 255, 255);
        padding: 20px;
        opacity: 1;
        border-radius: 12px;
        border: 2px solid black;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

u{
        width: 200px;
        margin: auto;
        background: rgb(255, 255, 255);
        padding: 20px;
        opacity: 0.5;
        border-radius: 12px;
        border: 2px solid black;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

p{
        max-width: 1800px;
        margin: auto;
        padding: 20px;
        border-radius: 12px;
        border: 2px solid black;
        color: black;
        margin-bottom: 5px;
        display: flex;
}

summary {
  list-style: none;
}
.formato1{
    background-color: black;
    opacity: 1; 
}
.hipervinculo1{
    background-color: black;
    opacity: 0.9 ;  
}
.listas1{
    background-color: black;
    opacity: 0.8;  
}
.imagenes1{
    background-color: black;
    opacity: 0.7; 
}
.tablas1{
    background-color: black;
    opacity: 0.6; 
}

.formularios1{
    background-color: black;
    opacity: 0.5; 
}
.multimedia1{
    background-color: black;
    opacity: 0.4;  
}
.contenido1{
    background-color: black;
    opacity: 0.3; 
}
.interactivos1{
    background-color: black;
    opacity: 0.2; 
}
.accesibilidad1{
    background-color: black;
    opacity: 0.1; 
}



.selectors2{
    background-color: rgb(50, 50, 50);    
}
.variables2{
    background-color: rgb(180, 70, 109);
}
.bem2{
    background-color: #f492c6;
}
.color2{
    background: rgb(197, 180, 255);
}
.texto2{
    background-color: #a2b5fd;
}
.medidias2{
    background-color: rgb(190, 244, 226);
}
.imagenes2{
    background: #3672af;
}
.display2{
    background-color: rgb(32, 72, 58);
}

.margin2{
    background-color: rgb(245, 245, 41);
}
.padding2{
    background-color: rgb(186, 204, 68);
}
.border2{
    background-color: rgb(65, 151, 43);
    
}
.listas2{
    background-color: rgb(220, 79, 126);
}
.overflow2{
    background-color: rgb(234, 136, 61);
}

.filters2{
    background-color: rgb(178, 94, 195);
}
.transform2{
    background-color: rgb(40, 25, 135);
}
.transition2{
    background-color: rgb(94, 163, 195);
}
.herramientas2{
    background-color: rgb(224, 71, 71);
}
/**/

