    body{
            align-items: center;
    }
    .bg-grid {
      position: fixed;
      inset: 0;
      z-index: -1;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    .bg-grid div:nth-child(1) { background:#fbb4cd; }
    .bg-grid div:nth-child(2) { background:#c8fbb4; }
    .bg-grid div:nth-child(3) { background:#fbb4cd; }
    .bg-grid div:nth-child(4) { background:#c8fbb4; }
    .bg-grid div:nth-child(5) { background:#c8fbb4; }
    .bg-grid div:nth-child(6) { background:#fbb4cd; }
    .bg-grid div:nth-child(7) { background:#c8fbb4; }
    .bg-grid div:nth-child(8) { background:#fbb4cd; }
    .bg-grid div:nth-child(9) { background:#fbb4cd; }
    .bg-grid div:nth-child(10) { background:#c8fbb4;}
    .bg-grid div:nth-child(11) { background:#fbb4cd; }
    .bg-grid div:nth-child(12) { background:#c8fbb4; }
    .bg-grid div:nth-child(13) { background:#c8fbb4; }
    .bg-grid div:nth-child(14) { background:#fbb4cd;  }
    .bg-grid div:nth-child(15) { background:#c8fbb4; }
    .bg-grid div:nth-child(16) { background:#fbb4cd;  }

h1{
        max-width: 400px;
        margin: auto;
        background: rgb(155, 17, 93);
        padding: 20px;
        border-radius: 12px;
        border: 2px solid black;
        margin-bottom: 18px;
        color:rgb(255, 255, 255);
}

h2{
        max-width: 200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(255, 76, 175);
        color:white;
        padding: 20px;
        border-radius: 12px;
        margin-top: 18px;
        margin-bottom: 18px;
}

u1{
        width: 200px;
        margin: auto;
        background: rgb(255, 255, 255);
        border: 5px solid  rgb(155, 17, 93);
        padding: 20px;
        opacity: 0.8;
        border-radius: 12px;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
}

u{
        width: 200px;
        margin: auto;
        background: rgb(255, 255, 255);
        padding: 20px;
        opacity: 0.8;
        border-radius: 12px;
        border: 5px solid black;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

p{
        max-width: 100%;
        margin: auto;
        padding: 20px;
        border-radius: 12px;
        border: 2px solid black;
        color: black;
        margin-bottom: 5px;
        display: flex;
}

summary {
  list-style: none;
}
.formato1{
    background-color: black;
    border-radius: 12px;
}
.hipervinculo1{
    background-color: rgb(33, 33, 33);
    border-radius: 12px;
}
.listas1{
    background-color: rgb(66, 66, 66);
    border-radius: 12px;
}
.imagenes1{
    background-color: rgb(93, 93, 93);
    border-radius: 12px;
}
.tablas1{
    background-color: rgb(144, 143, 143);
    border-radius: 12px;
}

.formularios1{
    background-color: rgb(170, 169, 169);
    border-radius: 12px;
}
.multimedia1{
    background-color: rgb(195, 194, 194);
    border-radius: 12px;
}
.contenido1{
    background-color: rgb(222, 220, 220);
    border-radius: 12px;
}
.interactivos1{
    background-color: rgb(235, 235, 235);
    border-radius: 12px;
}
.accesibilidad1{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}
.selectors2{
    background-color: rgb(50, 50, 50); 
    border-radius: 12px;   
}
.variables2{
    background-color: rgb(180, 70, 109);
    border-radius: 12px;
}
.bem2{
    background-color: #f492c6;
    border-radius: 12px;
}
.color2{
    background: rgb(197, 180, 255);
    border-radius: 12px;
}
.texto2{
    background-color: #a2b5fd;
    border-radius: 12px;
}
.medidias2{
    background-color: rgb(190, 244, 226);
    border-radius: 12px;
}
.imagenes2{
    background: #3774b2;
    border-radius: 12px;
}
.display2{
    background-color: rgb(32, 72, 58);
    border-radius: 12px;
}
.margin2{
    background-color: rgb(245, 245, 41);
    border-radius: 12px;
}
.padding2{
    background-color: rgb(186, 204, 68);
    border-radius: 12px;
}
.border2{
    background-color: rgb(65, 151, 43);
    border-radius: 12px;
    
}
.listas2{
    background-color: rgb(220, 79, 126);
    border-radius: 12px;
}
.overflow2{
    background-color: rgb(234, 136, 61);
    border-radius: 12px;
}

.filters2{
    background-color: rgb(178, 94, 195);
    border-radius: 12px;
}
.transform2{
    background-color: rgb(40, 25, 135);
    border-radius: 12px;
}
.transition2{
    background-color: rgb(94, 163, 195);
    border-radius: 12px;
}
.herramientas2{
    background-color: rgb(88, 56, 184);
    border-radius: 12px;
}
.a3d2{
    background-color: #dc2606;
    border-radius: 12px;
}

